/*
====================
COMMON
====================
*/

.head {
  box-sizing: border-box;
  width: 100%;
  height: 80px;
  margin: 0;
  padding: 1px;
  box-shadow: 0 0 5px 1px;
  background-color: white;
}
.head h3 {
  margin: 10px 0 0 20px;
}
.head h1 {
  margin: 0 0 0 20px;
  font-size: 36px;
}
.headTextZoom {
  font-size: 36px;
}
.main {
  box-sizing: border-box;
  position: absolute;
  top: 80px;
  bottom: 0;
  right: 0;
  left: 20%;
  width: 80%;
  padding: 1%;
  overflow: auto;
}
#reguletter_logo {
  cursor: pointer;
}

#reguletter_logo:hover {
  text-shadow: 0 0 5px grey;
}

/*
====================
PROJECT PAGE
====================
*/


.button {
	width: 100px;
	border: 1px solid black;
	text-align: center;
	margin: 2px;
	cursor: pointer;
  border-radius: 2px;
}

.project {
  width: 100px;
  border: 1px solid black;
  text-align: center;
  margin: 2px;
  cursor: pointer;
}

.button:hover {
	box-shadow: 0 0 5px black;
}

.button:active {
	box-shadow: inset 0 0 5px black;
}

.contentFullScreen {
	left: 0;
}
.newProjButton {
  margin-top: 2%;
  margin-bottom: 2%;
}

/*
====================
PROJECT PAGE
====================
*/

label {
  display: block;
  margin: 20px 0 20px 0;
}
label input {
  font-size: 30px;
  width: 90%;
}

/*
====================
EDIT PAGE
====================
*/

.piece_button {
  cursor: pointer;
  width: 100%;
  text-align: center;
  height: 25px;
  line-height: 25px;
}
.piece_button:hover {
  outline: 1px solid black;
  box-shadow: 0 0 2px 2px;
}

.sidebar {
  display: none;
  box-sizing: border-box;
  position: absolute;
  top: 80px;
  bottom: 0;
  width: 20%;
  border-right: 1px solid black;
  overflow: auto;
}