/*
====================
COMMON
====================
*/

.head {
  box-sizing: border-box;
  width: 100%;
  height: 80px;
  margin: 0;
  padding: 1px;
  box-shadow: 0 0 5px 1px;
  background-color: white;
}
.head h3 {
  margin: 10px 0 0 20px;
}
.head h1 {
  display: inline-block;
  margin: 0 0 0 20px;
  font-size: 36px;
}
.headTextZoom {
  font-size: 36px;
}
.main {
  box-sizing: border-box;
  position: absolute;
  top: 80px;
  bottom: 0;
  right: 0;
  left: 20%;
  width: 80%;
  padding: 1% 2%;
}
.main_content {
  margin: 1% 0;
  padding: 1% 0;
}
.main_content {
  text-align: justify;
  overflow: auto;
}
#reguletter_logo {
  cursor: pointer;
}

#reguletter_logo:hover {
  text-shadow: 0 0 5px grey;
}
.head_control {
  display: inline-block;
  margin: auto;
  float: right;
  padding-top: 10px;
  padding-right: 10px;
}
.head_button {
}

/*
====================
PROJECT PAGE
====================
*/


.button {
	width: 100px;
	border: 1px solid black;
	text-align: center;
	margin: 2px;
	cursor: pointer;
  border-radius: 2px;
}

.project {
  width: 100px;
  border: 1px solid black;
  text-align: center;
  margin: 2px;
  cursor: pointer;
}

.button:hover {
	box-shadow: 0 0 5px black;
}

.button:active {
	box-shadow: inset 0 0 5px black;
}

.contentFullScreen {
	left: 0;
}
.newProjButton {
  margin-top: 2%;
  margin-bottom: 2%;
}

/*
====================
NEW PROJECT PAGE
====================
*/

label {
  display: block;
  margin: 20px 0 20px 0;
}
label input {
  font-size: 30px;
  width: 90%;
}

/*
====================
EDIT PAGE
====================
*/

.piece_button {
  cursor: pointer;
  width: 100%;
  text-align: center;
  height: 25px;
  line-height: 25px;
}
.piece_button:hover {
  outline: 1px solid black;
  box-shadow: 0 0 2px 2px;
}

.sidebar {
  display: none;
  box-sizing: border-box;
  position: absolute;
  top: 80px;
  bottom: 0;
  width: 20%;
  border-right: 1px solid black;
  overflow: auto;
}

/*
====================
EDIT PAGE DEL BUTTON
====================
*/

.wrapper {
  text-align: center;
  line-height: 20px;
  font-size: 15px;
  position: relative;
  width: 80px;
  height: 20px;
}
.warning {
  cursor: pointer;
  z-index: 20;
  position: absolute;
  border: 1px solid black;
  border-radius: 2px;
  width: 80px;
  height: 20px;
  background-color: white;
}
.finalDel {
  cursor: pointer;
  z-index: 10;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 0 2px 2px 0;
  width: 60px;
  height: 20px;
  background-color: #FBB2B2;
}
.deleteButtonWarningAnime {
  transition-property: box-shadow;
  transition-duration: 0.5s;
  transition-delay: 0.2s;
  box-shadow: 0 0 10px 1px;
}
.deleteButtonFinalDelAnime {
  transition-property: top, box-shadow;
  transition-duration: 1s;
  transition-delay: 0.7s;
  top: 20px;
  box-shadow: 0 0 5px;
}
/*=====================================================*/
.hide {
  display: none;
}